@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .minegenfarve{
        color: #124E29;
    }

    .flex-center{
        display: flex;
        justify-content: center;
    }

    .maxwidth100{
        max-width: 100%;
    }

    .maxheight180{
        max-height: 180px;
    }

    .d-mob2-klasse{
        font-size: 30px;
        width: 300px;
        font-weight: 600;
        color: white;
    }

    .d-mob2-p-klasse{
        width: 300px;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 50px;
        color: white;
    }

    .d-mob-klasse{
        max-width: 100%;
        max-height: 300px;
        padding-bottom: 20px;
    }

    .tredjesektion-h1{
        font-size: 30px;
        width: 300px;
        font-weight: 600;
        color: #124E29;
    }

    .tredje-sektion-p-tekst{
        width: 300px;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 50px;
        text-align: center;
    }



    /* Desktop version */
    .fontsizeotteotte{
        font-size: 88px;
        width: 800px;
        font-weight: 600;
        color: white;
    }

    .overste-p{
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 36px;
        width: 490px;
    }

    .overste-img{
        max-width: 100%;
        max-height: 470px;
    }

    .fjerde-h1{
        font-size: 30px;
        width: 300px;
        font-weight: 600;
        color: white;
    }

    .mobil-overst-container{
        display: flex;
        justify-content: center;
        background-color: #124E29;
        flex-direction: column;
        padding-top: 50px;

    }

    .mobil-overst-indhold{
        padding-left: 30px;
    }

    .mobil-overst-ind{
        padding-bottom: 50px;
        padding-left: 30px;
    }

    .flex-column{
        display: flex;
        flex-direction: column;
    }

    .fpormat-content-sek1{
        display: flex;
        justify-content: center;
        width: 800px;
        padding: 70px;
    }

    .test12345{
        padding: 40px 70px 0px 70px;
        margin-left: 50px;
        padding-bottom: 0px;
    }

    .f-pormat-om-div-ind2-sek2{
        color: black;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 150px;
       
    }

    .fpormat-container{
        display: block;
        background-color: #FFFDF5;
        display: flex;
        justify-content: center;
        
    }

    .sektiontre-h1{
        color: #124E29;
    }
    
    .f-pormat-om-div-ind2-sek8{
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
       
    }

    .test888888{
        background-color: #FFFDF5;
    }

    

    

    





    
}