---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="bg-cover bg-center w-full h-full bg-green-900">
    <section class="grid grid-cols-2 py-20 px-24 lg:px-35 lg:py-20 gap-32">
      <div>
        <div class="animate__animated animate__fadeInLeft">
          <h1 class="text-8xl text-white mb-12">
            Digital <br />Oprydningsdag
          </h1>
          <h2 class="text-white text-3xl">
            En dag hvor vi samles og <br /> rydder op i vores digitale affald!
          </h2>
        </div>
      </div>

      <div class="flex justify-center align-center">
        <img
          class="w-60 lg:w-96 animate-pulse"
          src="public/verden_illustration.svg"
          alt="Oppefra"
        />
      </div>
    </section>

    <section
      class="grid grid-cols-1 py-20 px-24 lg:px-35 lg:py-20 gap-32 bg-stone-100"
    >
      <div class="animate__animated animate__fadeInLeft">
        <h3 class="text-2xl text-green-900 mb-12">
          Hvad er Digital Oprydningsdag?
        </h3>
        <h1 class="text-black text-3xl">
          Digital Oprydningsdag er en dag dedikeret til at rydde <br /> op i
          vores digitale liv, ligesom vi rydder op i vores <br />fysiske miljø
          på World Cleanup Day.
        </h1>
        <button
          class="max-w-64
          bg-green-900
          hover:bg-white
          hover:border-green-900
          hover:border
          hover:text-green-900
          text-white
          font-bold
          py-3
          px-4
          rounded-full
          mt-10
          font-thin"
        >
          Registrer dit bidrag her →</button
        >
        <h3 class="py-10 px-96">
          Nu er det femte år, og organiseret af Let's Do It <br />World, er
          Digital Oprydningsdag rettet mod at øge<br /> bevidstheden om digital
          forurening, opmuntre <br />enkeltpersoner og virksomheder til at rydde
          op i <br />og omstrukturere deres online tilstedeværelse
        </h3>
      </div>
    </section>

    <section></section>
  </div>
</MainLayout>
