---

---
<section class="bg-black text-white px-20 py-20 flex flex-col gap-20 lg:flex-row justify-center lg:gap-96 font-thin">
  <div>
  <p class="mb-6">Let's Do It World NGO</p>
  <p class="mb-6">Roosikrantsi 3, TALLINN 10119, Estonia <br>Reg. code - 80562203</p>
  <p>digital@ldiw.org</p>
  </div>

  <div class="flex gap-6 ">
    <a href="https://x.com/letsdoitworld">
    <img class="w-6 h-6" src="public/x.png" alt="Oppefra"/>
  </a>
  <a href="https://www.youtube.com/worldcleanupday">
    <img class="w-6 h-6" src="public/youtube.png" alt="Oppefra"/>
  </a>
  <a href="https://www.linkedin.com/company/world-cleanup-day-official">
    <img class="w-6 h-6" src="public/linked.png" alt="Oppefra"/>
  </a>
    <a href="https://www.instagram.com/worldcleanupday.global">
    <img class="w-6 h-6" src="public/insta.png" alt="Oppefra"/>
  </a>
    <a href="https://www.facebook.com/worldcleanupday.global">
    <img class="w-3 h-6" src="public/face.png" alt="Oppefra"/>
  </a>
    <a href="https://www.tiktok.com/@worldcleanupday.global">
    <img class="w-5 h-6" src="public/tiktok.png" alt="Oppefra"/>
  </a>
  </div>
  
  </section>