---

---
<section class="bg-green-950 text-white px-20 py-20">
  <div>
  <p>Let's Do It World NGO</p>
  <p>Roosikrantsi 3, TALLINN 10119, Estonia <br>Reg. code - 80562203</p>
  <p>digital@ldiw.org</p>
  </div>
  
  </section>