---
---
<nav class="font-thin flex justify-center space-x-96 bg-white border border-green-900 mx-32 my-10 py-4 px-6 z-100 rounded-lg sticky top-10">
    <div>
    <a href=""> <p class="py-2">Digital Oprydningsdag</p></a>
    </div>
    <ul class="flex gap-24">
      <li class="hover:underline py-2"><a href="" class="nav-link">Forside</a></li>
      <li class="hover:underline py-2"><a href="howto" class="nav-link">Guide</a></li>
      <li class=" px-16 py-2 rounded-full border border-green-900 min-w-8 hover:bg-green-900 hover:text-white cursor-pointer"><a href="registrer" class="nav-link">Registrer dit bidrag</a></li>
    </ul>
    </nav>