---
import { Image } from 'astro:assets';
import sek2bil from "../assets/images/sek2bil.png"
import birdo from "../assets/images/birdo.png"
import waveoverstesektion from "../assets/images/waveoversektion.png"
---

<!-- <div class="nav-container">
    <div class="nav-content">
        <li style="float: left;"><a href="#">Digital oprydningsdag</a></li>
        <li><a href="#">Forsiden</a></li>
        <li><a href="#">How To</a></li>
        <li><a href="#">Registrer dit bidrag</a></li>
    </div>
</div> -->


    </style>
    </head>
    <body>

        <!-- Mobil indhold -->
        <div class="mobil-indhold-overst">
            <div class="mobil-overst-container">
                <div class="mobil-overst-indhold">
                    <h1 class="text-2xl font-bold text-white">Guide til</h1><br>
                    <h2 class="text-4xl font-bold text-white">Digital oprydning</h2>
                </div>
                <div class="mobil-overst-ind">
                    <p style="width: 300px;" class="text-white">Følg vores 4 steps og vær
                        med i kampen mod digitalt skrald!</p>
                    <img src={birdo.src} alt="iPhone-sektion1" class="overste-img">
                </div>
            </div>
        </div>

        <!-- Desktop indhold -->
        <div class="desktop-indhold">
            <div class="baggrund-til-overste">
                <div class="flex-center">
                    <div class="flex-column pt-12">
                        <h1 class="fontsizeotteotte animate__animated animate__fadeInLeft">Guide til<br>Digital oprydning</h1>
                        <p class="overste-p animate__animated animate__fadeIn">Følg vores 4 steps og vær
                            med i kampen mod digitalt skrald!</p>
                    </div>
                    <img src={birdo.src} alt="iPhone-sektion1" class="overste-img">
                </div>
            </div>

            <div>
                <img style="max-width: 100%" src={waveoverstesektion.src} alt="iPhone-sektion1" class="">
            </div>
    
        </div>



<!-- "float: left;">< -->


<style>
    .mobil-indhold-overst{
        display: block;
    }

    .desktop-indhold{
        display: none;
    }


    .baggrund-til-overste{
        background-color: #124E29;
        padding: 100px 0px 50px 0px;
    }

    .mobil-overst-ind img{
        max-width: 100%;
        max-height: 230px;
        padding-left: 180px;
    }

    @media screen and (min-width: 1512px){
        .mobil-indhold-overst{
            display: none;
        }

        .desktop-indhold{
            display: block;
        }
    }

    


</style>


