---
import { Image } from 'astro:assets';
import sek3bil from "../assets/images/sek3bil.png"
---


<!-- Mobil format -->
<!-- Mobil format -->
<div class="mobil-indhold">
    <div class="container-background-color">

        <div class="flex-center">
            <div class="flex-center pt-12">
                <img src={sek3bil.src} alt="iPhone-sektion1" class="d-mob-klasse">
            </div>
        </div>

      

        
        <div class="flex-center">
            <div class="d-mob2">
                <h1 class="tredjesektion-h1">Ryd op i din mailboks</h1>
            </div>
        </div>

        
        <div class="flex-center">
            <div class="d-mob2-p">
                <p class="tredje-sektion-p-tekst">Filtrer e-mails efter de ældste og arkiver dem. Afmeld nyhedsbreve, du ikke læser.</p>
            </div>
        </div>
    </div>
</div>


<!-- Desktop format -->
<!-- Desktop format -->

    <div class="desktop-indhold">
        <div class="fpormat-content">
            <img src={sek3bil.src} alt="iPhone-sektion1">
            <div class="fpormat-ind">
                <h1>Ryd op i din mailboks</h1><br>
                <p>Filtrer e-mails efter de ældste og arkiver dem. Afmeld nyhedsbreve, du ikke læser.</p>
            </div>
        </div>
    </div>





<style>



    .mobil-indhold{
        display: block;
    }

    .desktop-indhold{
        display: none;
    }

    .container-background-color{
        background-color: #FFFDF5;
    }


    /* Brødtekst til sektion 1 */


    @media screen and (min-width: 1512px){

    .mobil-indhold{
        display: none;
    }

    .desktop-indhold{
        display: block;
    }

    .fpormat-container{
        display: flex;
        justify-content: center;
        background-color: #FFFDF5;;
    }
        
    .fpormat-content{
        display: flex;
        justify-content: center;
        padding: 70px;
        width: 800px;

    }

    .fpormat-content img{
        max-width: 100%;
        max-height: 350px;
    }

    .fpormat-ind{

        padding-left: 50px;
        display: flex;
        flex-direction: column;
       
    }

    .fpormat-content h1{
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 27px;
    }
    }
</style>



