---
import { Image } from 'astro:assets';
import sek1bil from "../assets/images/sek1-bil.png"
---

<!-- Link til Roboto font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<!-- Link til Roboto font -->

<div class="container-background-color">

    <div class="c-mob">
        <div class="d-mob">
            <h1>indsæt billede</h1>
        </div>
    </div>
    
    <div class="c-mob2">
        <div class="d-mob2">
            <h1>Slet apps der ikke bliver brugt</h1>
        </div>
    </div>
    
    <div class="c-mob2-p">
        <div class="d-mob2-p">
            <p>Slet alle de unødvendige billeder og glemte, gamle apps og spil. De bruger energi, selv når de ikke er i brug, og kan forbruge hundredvis af megabytes ved månedlige opdateringer.</p>
        </div>
    </div>

</div>


<style>

    .container-background-color{
        background-color: #FFFDF5;
    }

    .c-mob2{
        display: flex;
        justify-content: center;
    }
    .d-mob2 h1{
        font-size: 30px;
        width: 300px;
        font-weight: 600;
        color: #397933;
    }

    /* Brødtekst til sektion 1 */
    .c-mob2-p{
        display: flex;
        justify-content: center;
    
    }
    .d-mob2-p p{
        width: 300px;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 50px;
    }
</style>



