---
import { Image } from 'astro:assets';
import sek1bil from "../assets/images/sek1bil.png"
import iphone from "../assets/images/iphone.png"
---


<!-- Mobil format -->
<!-- Mobil format -->
<div class="mobil-indhold">
    <div class="container-background-color">

        <div class="c-mob">
            <div class="flex justify-center ">
                <img src={iphone.src} alt="iPhone-sektion1" class="max-w-full max-h-80">
            </div>
        </div>

        
        <div class="flex justify-center">
            <div class="flex justify-center">
                <h1 class="text-3xl w-80 font-semibold minegenfarve" >Slet apps der ikke bliver brugt</h1> 
            </div>
        </div>
        
        <div class="flex justify-center">
            <div class="d-mob2-p">
                <p class="w-80 font-light text-xl pb-12" >Slet alle de unødvendige billeder og glemte, gamle apps og spil. De bruger energi, selv når de ikke er i brug, og kan forbruge hundredvis af megabytes ved månedlige opdateringer.</p>
            </div>
        </div>
    </div>
</div>


<!-- Desktop format -->
<!-- Desktop format -->

    <div class="fpormat-container">
        <div class="fpormat-content">
            <img src={iphone.src} alt="A bird sitting on a nest of eggs.">
    
            <div class="pl-12 flex flex-col">
                <h1>Slet apps der ikke bliver brugt</h1><br>
                <p>Slet alle de unødvendige billeder og glemte, gamle apps og spil. De bruger energi, selv når de ikke er i brug, og kan forbruge hundredvis af megabytes ved månedlige opdateringer.</p>
            </div>
        </div>
    </div>





<style>


    .mobil-indhold{
        display: block;
    }

    .fpormat-container{
        display: none;
    }

    .container-background-color{
        background-color: #FFFDF5;
        width: 100%;
        padding-top: 50px;
    }


    @media screen and (min-width: 1512px){

    .mobil-indhold{
        display: none;
    }

    .fpormat-container{
   
        display: block;
        background-color: #FFFDF5;
        display: flex;
        justify-content: center;
    }
        
    .fpormat-content{
        display: flex;
        justify-content: center;
        width: 800px;
        padding: 70px;
    }

    .fpormat-content img{
        max-width: 100%;
        max-height: 350px;
    }



    .fpormat-content h1{
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 27px;
    }
    }
</style>



