---
import { Image } from 'astro:assets';
import sek4bil from "../assets/images/sek4bil.png"
import sun from "../assets/images/sun.png"
---


<!-- Mobil format -->
<!-- Mobil format -->
<div class="container-background-color">

    <div class="c-mob">
        <div class="flex-center">
            <img src={sun.src} alt="iPhone-sektion1" class="d-mob-klasse pt-8">
        </div>
    </div>


    
    <div class="flex-center">
        <div class="fjerde-h1">
            <h2>Ændringer i dine internet vaner</h2>
        </div>
    </div>
    
    <div class="flex-center">
        <div class="d-mob2-p">
            <p>Små ændringer i dine internetvaner, såsom at slukke for video under virtuelle møder, mindske spilletiden, begrænse tiden på sociale medier og afmelde nyhedsbreve, kan markant reducere dit miljømæssige fodaftryk!</p>
        </div>
    </div>
</div>




<!-- Desktop format -->
<!-- Desktop format -->
<div class="background-forsiden-container-pad2">
    <div class="fpormat-container2">
        <div class="fpormat-content2">
            <div class="f-pormat-om-div-ind2-sek8 pt-12 py-12">
                <h1>Ændringer i dine internet vaner</h1><br>
                <p>Små ændringer i dine internetvaner, såsom at slukke for video under virtuelle møder, mindske spilletiden, begrænse tiden på sociale medier og afmelde nyhedsbreve, kan markant reducere dit miljømæssige fodaftryk!</p>
            </div>
            <img src={sun.src} alt="iPhone-sektion1" class="py-12">
        </div>
    </div>
</div>




<style>



    .background-forsiden-container-pad2{
        display: none;
        /* background-color: #FFFDF5; */

    }

    .container-background-color{
        background-color: #124E29;
    }

    /* Brødtekst til sektion 1 */

    .d-mob2-p p{
        width: 300px;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 50px;
        color: white;
    }


    @media screen and (min-width: 1512px){
        .background-forsiden-container-pad2{
        display: block;
    }
    .container-background-color{
        display: none;
    }

    .fpormat-content2{
        display: flex;
        justify-content: center;
        padding: 40px 70px 0px 70px;
        margin-left: 50px;
        padding-bottom: 0px;
    }

    .fpormat-content2 img{
        max-width: 100%;
        max-height: 350px;
        padding-top: 80px;
    }

    .background-forsiden-container-pad2{
        background-color: #124E29;
        
    }

    .fpormat-content2 h1{
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 27px;
        color: #FFFDF5;
    }

    .fpormat-content2 p{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        width: 250px;
        color: #FFFDF5;
    }
        
    }
</style>
