---
import { Image } from 'astro:assets';
import sek3bil from "../assets/images/sek3bil.png"
import mails from "../assets/images/mails.png"
---


<!-- Mobil format -->
<!-- Mobil format -->
<div class="mobil-indhold">
    <div class="container-background-color">

        <div class="flex-center">
            <div class="flex-center pt-12">
                <img src={mails.src} alt="iPhone-sektion1" class="d-mob-klasse">
            </div>
        </div>

      

        
        <div class="flex-center">
            <div class="d-mob2">
                <h1 class="tredjesektion-h1">Ryd op i din mailboks</h1>
            </div>
        </div>

        
        <div class="flex-center">
            <div class="d-mob2-p">
                <p class="tredje-sektion-p-tekst">Filtrer e-mails efter de ældste og arkiver dem. Afmeld nyhedsbreve, du ikke læser.</p>
            </div>
        </div>
    </div>
</div>


<!-- Desktop format -->
<!-- Desktop format -->


    <div class="desktop-indhold">
        <div class="fpormat-container">
            <div class="fpormat-content">
                <img src={mails.src} alt="A bird sitting on a nest of eggs.">
        
                <div class="pl-12 flex flex-col">
                    <h1 class="sektiontre-h1">Ryd op i din mailboks</h1><br>
                    <p style="width: 500px; font-size: 24px;">Filtrer e-mails efter de ældste og arkiver dem. Afmeld nyhedsbreve, du ikke læser.</p>
                </div>
            </div>
        </div>

    </div>







<style>



    .mobil-indhold{
        display: block;
    }

    .desktop-indhold{
        display: none;
    }

    .container-background-color{
        background-color: #FFFDF5;
    }


    /* Brødtekst til sektion 1 */


    @media screen and (min-width: 1512px){

    .mobil-indhold{
        display: none;
    }

    .desktop-indhold{
        display: block;
    }
        
    .fpormat-content{
        display: flex;
        justify-content: center;
        width: 800px;
        padding: 70px;
    }

    .fpormat-content img{
        max-width: 100%;
        max-height: 250px;
    }

    .fpormat-content h1{
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 27px;
    }
    }
</style>



