---
import { Image } from 'astro:assets';
import sek1bil from "../assets/images/sek1bil.png"
---


<!-- Mobil format -->
<!-- Mobil format -->
<div class="mobil-indhold">
    <div class="container-background-color">

        <div class="c-mob">
            <div class="d-mob">
                <img src={sek1bil.src} alt="iPhone-sektion1">
            </div>
        </div>

        
        <div class="c-mob2">
            <div class="d-mob2">
                <h1>Slet apps der ikke bliver brugt</h1>
            </div>
        </div>
        
        <div class="c-mob2-p">
            <div class="d-mob2-p">
                <p>Slet alle de unødvendige billeder og glemte, gamle apps og spil. De bruger energi, selv når de ikke er i brug, og kan forbruge hundredvis af megabytes ved månedlige opdateringer.</p>
            </div>
        </div>
    </div>

</div>



<!-- Desktop format -->
<!-- Desktop format -->

    <div class="fpormat-container">
        <div class="fpormat-content">
            <img src={sek1bil.src} alt="A bird sitting on a nest of eggs.">
    
            <div class="fpormat-ind">
                <h1>Slet apps der ikke bliver brugt</h1><br>
                <p>Slet alle de unødvendige billeder og glemte, gamle apps og spil. De bruger energi, selv når de ikke er i brug, og kan forbruge hundredvis af megabytes ved månedlige opdateringer.</p>
            </div>
        </div>
    </div>





<style>
    .d-mob{
        display: flex;
        justify-content: center;
    }
    .d-mob img{
        max-width: 100%;
        max-height: 300px;
    }

    .mobil-indhold{
        display: block;
    }

    .fpormat-container{
        display: none;
    }

    .container-background-color{
        background-color: #FFFDF5;
        width: 100%;
    }

    .c-mob2{
        display: flex;
        justify-content: center;
    }
    .d-mob2 h1{
        font-size: 30px;
        width: 300px;
        font-weight: 600;
        color: #397933;
    }

    /* Brødtekst til sektion 1 */
    .c-mob2-p{
        display: flex;
        justify-content: center;
    
    }
    .d-mob2-p p{
        width: 300px;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 50px;
    }

    @media screen and (min-width: 1512px){

    .mobil-indhold{
        display: none;
    }

    .fpormat-container{
        display: block;
        background-color: #FFFDF5;
        display: flex;
        justify-content: center;
    }
        
    .fpormat-content{
        display: flex;
        justify-content: center;
        width: 800px;
        padding: 70px;
    }

    .fpormat-content img{
        max-width: 100%;
        max-height: 350px;
    }

    .fpormat-ind{

        padding-left: 50px;
        display: flex;
        flex-direction: column;
       
    }

    .fpormat-content h1{
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 27px;
    }
    }
</style>



