---
import { Image } from 'astro:assets';
import sek1bil from "../assets/images/sek1-bil.png"
---


<div class="mobil-indhold">
    <div class="container-background-color">

        <div class="c-mob">
            <div class="d-mob">
                <h1>indsæt billede</h1>
            </div>
        </div>
        
        <div class="c-mob2">
            <div class="d-mob2">
                <h1>Ryd op i din mailboks</h1>
            </div>
        </div>
        
        <div class="c-mob2-p">
            <div class="d-mob2-p">
                <p>Filtrer e-mails efter de ældste og arkiver dem. Afmeld nyhedsbreve, du ikke læser.</p>
            </div>
        </div>
    </div>

</div>



<div class="desktop-indhold">
    <div class="fpormat-container">
        <div class="fpormat-content">
            <h1>Indsæt img src="" </h1>
    
            <div class="fpormat-ind">
                <h1>Ryd op i din mailboks</h1><br>
                <p>Filtrer e-mails efter de ældste og arkiver dem. Afmeld nyhedsbreve, du ikke læser.</p>
            </div>
        </div>
    </div>
</div>




<style>

    .mobil-indhold{
        display: block;
    }

    .desktop-indhold{
        display: none;
    }

    .container-background-color{
        background-color: #FFFDF5;
    }

    .c-mob2{
        display: flex;
        justify-content: center;
    }
    .d-mob2 h1{
        font-size: 30px;
        width: 300px;
        font-weight: 600;
        color: #397933;
    }

    /* Brødtekst til sektion 1 */
    .c-mob2-p{
        display: flex;
        justify-content: center;
    
    }
    .d-mob2-p p{
        width: 300px;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 50px;
    }

    @media screen and (min-width: 1512px){

        .mobil-indhold{
        display: none;
    }

    .desktop-indhold{
        display: block;
    }
        
    .fpormat-content{
        display: flex;
        justify-content: center;
        padding: 70px;
        width: 800px;
        background-color: #FFFDF5;;
    }

    .fpormat-content img{
        max-width: 100%;
        max-height: 350px;
    }

    .fpormat-ind{

        padding-left: 50px;
        display: flex;
        flex-direction: column;
       
    }

    .fpormat-content h1{
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 27px;
    }
    }
</style>



