---
import { Image } from 'astro:assets';
import sek4bil from "../assets/images/sek4bil.png"
---


<!-- Mobil format -->
<!-- Mobil format -->
<div class="container-background-color">

    <div class="c-mob">
        <div class="d-mob">
            <img src={sek4bil.src} alt="iPhone-sektion1">
        </div>
    </div>


    
    <div class="c-mob2">
        <div class="d-mob2">
            <h2>Ændringer i dine internet vaner</h2>
        </div>
    </div>
    
    <div class="c-mob2-p">
        <div class="d-mob2-p">
            <p>Små ændringer i dine internetvaner, såsom at slukke for video under virtuelle møder, mindske spilletiden, begrænse tiden på sociale medier og afmelde nyhedsbreve, kan markant reducere dit miljømæssige fodaftryk!</p>
        </div>
    </div>
</div>


<!-- Desktop format -->
<!-- Desktop format -->
<div class="background-forsiden-container-pad2">
    <div class="fpormat-container2">
        <div class="fpormat-content2">
            <div class="f-pormat-om-div-ind2">
                <h1>Ændringer i dine internet vaner</h1><br>
                <p>Små ændringer i dine internetvaner, såsom at slukke for video under virtuelle møder, mindske spilletiden, begrænse tiden på sociale medier og afmelde nyhedsbreve, kan markant reducere dit miljømæssige fodaftryk!</p>
            </div>
            <img src={sek4bil.src} alt="iPhone-sektion1">
        </div>
    </div>
</div>


<style>



    .background-forsiden-container-pad2{
        display: none;
        /* background-color: #FFFDF5; */

    }

    .container-background-color{
        background-color: #FFFDF5;
    }

    .d-mob{
        display: flex;
        justify-content: center;
    }

    .d-mob img{
        max-width: 100%;
        max-height: 250px;
        padding-bottom: 20px;
    }



    .c-mob2{
        display: flex;
        justify-content: center;
    }
    .d-mob2 h2{
        font-size: 30px;
        width: 300px;
        font-weight: 600;
        color: #397933;

    }

    /* Brødtekst til sektion 1 */
    .c-mob2-p{
        display: flex;
        justify-content: center;
    
    }
    .d-mob2-p p{
        width: 300px;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 50px;
  
    }

    

    @media screen and (min-width: 1512px){
        .background-forsiden-container-pad2{
        display: block;
    }
    .container-background-color{
        display: none;
    }

    .fpormat-content2{
        display: flex;
        justify-content: center;
        padding: 40px 70px 0px 70px;
        margin-left: 50px;
        padding-bottom: 0px;
    }

    .fpormat-content2 img{
        max-width: 100%;
        max-height: 350px;
        padding-top: 80px;
    }

    .f-pormat-om-div-ind2{
        color: black;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
       
    }

    .background-forsiden-container-pad2{
        background-color: #FFFDF5;
        
    }

    .fpormat-content2 h1{
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 27px;
    }

    .fpormat-content2 p{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        width: 250px;
    
    }
        
    }
</style>
